@font-face {
  font-family: FuturaLT;
  src: url(../Fuentes/FuturaLT.ttf);
  font-family: FuturaLT-Bold;
  src: url(../Fuentes/FuturaLT-Bold.ttf);
  font-family: FuturaLT-BoldOblique;
  src: url(../Fuentes/FuturaLT-BoldOblique.ttf);
  font-family: FuturaLT-Book;
  src: url(../Fuentes/FuturaLT-Book.ttf);
  font-family: FuturaLT-BookOblique;
  src: url(../Fuentes/FuturaLT-BookOblique.ttf);
  font-family: FuturaLT-Condensed;
  src: url(../Fuentes/FuturaLT-Condensed.ttf);
  font-family: FuturaLT-CondensedBoldOblique;
  src: url(../Fuentes/FuturaLT-CondensedBoldOblique.ttf);
  font-family: FuturaLT-CondensedExtraBold;
  src: url(../Fuentes/FuturaLT-CondensedExtraBold.ttf);
  font-family: FuturaLT-CondensedLight;
  src: url(../Fuentes/FuturaLT-CondensedLight.ttf);
  font-family: FuturaLT-CondensedLightObl;
  src: url(../Fuentes/FuturaLT-CondensedLightObl.ttf);
  font-family: FuturaLT-CondensedOblique;
  src: url(../Fuentes/FuturaLT-CondensedOblique.ttf);
  font-family: FuturaLT-CondExtraBoldObl;
  src: url(../Fuentes/FuturaLT-CondExtraBoldObl.ttf);
  font-family: FuturaLT-ExtraBold.ttf;
  src: url(../Fuentes/FuturaLT-ExtraBold.ttf);
  font-family: FuturaLT-ExtraBoldOblique;
  src: url(../Fuentes/FuturaLT-ExtraBoldOblique.ttf);
  font-family: FuturaLT-Heavy;
  src: url(../Fuentes/FuturaLT-Heavy.ttf);
  font-family: FuturaLT-HeavyOblique;
  src: url(../Fuentes/FuturaLT-HeavyOblique.ttf);
  font-family: FuturaLT-Light;
  src: url(../Fuentes/FuturaLT-Light.ttf);
  font-family: FuturaLT-LightOblique;
  src: url(../Fuentes/FuturaLT-LightOblique.ttf);
  font-family: FuturaLT-Oblique;
  src: url(../Fuentes/FuturaLT-Oblique.ttf);
  font-family: IntroScriptR-H2Base;
  src: url(../Fuentes/IntroScriptR-H2Base.otf);
  font-family: Times.ttc;
  src: url(../Fuentes/Times.ttc);
}
