@media (min-width: 425px) {

//  Diseño responsive para header


.menuWeb{
  display none
}

header{
  height: Altura_Banner_dos
}

.box-uno a{
  font-size: 2em;
}

.box-dos a{
  font-size: 1.5em;
}

.container{
  margin: 0 20px;
}

.logo{
  margin: 20px auto 20px;
}

.logotipo{
  width 150px
}

.mensaje{
  font-size: Tamano_mensaje_banner_dos;
}


//  Diseño responsive para Nuestras VARIEDADES

.slideUno{
  height Altura_Nuestras_Variedades_dos
}
.fondoSlide{
height Altura_Nuestras_Variedades_dos

}

.caja{
height 200px
width 410px
}

[class^="img-"]{
  width: 180px;
  height: 180px;
}

//  Diseño responsive para Nuestra filosofia

.description{
  height: Altura_Nuestras_Filosofia_dos ;
}

.cajita{
  width: 350px;
}

.tituloTres{
  font-size: Tamano_nuestra_filosofia_dos
}

.text{
  font-size: Tamano_nuestra_filosofia_texto_dos;
  line-height: 13pt;
  width: 300px;
  height: 90px
}

.cajita button{
  width: 120px;
  height: 30px;
  font-size: Tamano_nuestra_filosofia_Botones_dos;
}


//  Diseño responsive para Publicaciones y eventos

.slideDos{
  height: Altura_publicaciones_eventos_dos
}


.tituloDos{
  font-size Tamano_Titulo_seccion_dos
}

.data h4{
  font-size: Tamano_Titulo_imagen_publicaciones_eventos_dos;
}

.data p{
  font-size: Tamano_Texto_imagen_publicaciones_eventos_dos;
  width: 300px;
}

.flex-control-nav.flex-control-paging{
	margin: 70px auto 20px;
}

.boxDos{
  height: 280px;
}

}



@media (min-width: 600px) {

.container{
  margin: 0 25px;
}

// Header del documento para este tamaño

header{
  height: 350px
}
.logotipo{
  width 200px
}
.mensaje{
  font-size: Tamano_mensaje_banner_dos + .5em
}

// VARIEDADES slides

.caja{
height 200px
width 480px
}

// Nuestra filosofia del documento para este tamaño

.description{
  height: Altura_Nuestras_Filosofia_dos + 50px;
}

.cajita{
  width: 60%;
  margin: 35px 0;
}

.tituloTres{
  font-size: Tamano_nuestra_filosofia_dos + .2em
}

.text{
  font-size: Tamano_nuestra_filosofia_texto_dos + .1em;
  line-height: 15pt;
  width: 450px;
  height: 110px
}

.cajita button{
  width: 150px;
  height: 35px;
  font-size: Tamano_nuestra_filosofia_Botones_dos + .2em;
}


// publicaciones y eventos del documento para este tamaño

.slideDos{
  height: Altura_publicaciones_eventos_dos + 80px
}

.tituloDos{
  font-size Tamano_Titulo_seccion_dos + .4em
}

.data h4{
  font-size: Tamano_Titulo_imagen_publicaciones_eventos_dos + .3em;
}

.data p{
  font-size: Tamano_Texto_imagen_publicaciones_eventos_dos + .1em;
  width: 350px;
}

.flex-control-nav.flex-control-paging{
	margin: 110px auto 20px;
}
.boxDos{
  height: 300px;
}

}



@media (min-width: 800px) {

//  Diseño responsive para header

#menuMobil{
 display none
}


.menuWeb{
  display flex
}
.nav{
  display none
}
.logo{
  display none
}

.mensaje{
  margin-top 100px
}

// Nuestras VARIEDADES

#small{
display none
}

#tol{
display flex
position relative
top 0
}

.caja{
width 800px
}

// Nuestra filosofia del documento para este tamaño

.cajita{
  width: 60%;
  margin: 30px 40%;
}

.cajita button{
  width: 150px;
  height: 35px;
  font-size: Tamano_nuestra_filosofia_Botones_dos + .3em;
}


// Seccion de Publicaciones y eventos

#changue{
  display none
}
.boxUno{
  height 100px

}

#changueDos{
  display flex
  justify-content: space-around;
  align-items: center;
  list-style none
  height Altura_publicaciones_eventos_dos -30px
}
.CajaDos li{
  margin 0 10px
}
.slideDos{
  height Altura_publicaciones_eventos_tres
}
}

@media (min-width: 1000px) {

.caja{
width 1000px
}


}
