// Colores usados en el documento

verde = #9Ac488
negro_footer = #333333
negro_menu_mobile = #515151
letras_blancas =  #ffffff
letras_negras = #000000

Blanco_para_logos = rgba(255, 255, 255, .5)

Insumos_menu_mobile = #81C5E7
Variedades_verde_menu_mobile = #9Ac488

// TAmaños de tipografia

Tamano_mensaje_banner = 1.7em
Tamano_mensaje_Lenguaje_banner = 1em
Tamano_mensaje_burguer_banner = 1.7em
Tamano_mensaje_menu = 1em


Tamano_nuestra_filosofia = 1.8em
Tamano_nuestra_filosofia_texto = .8em
Tamano_nuestra_filosofia_Botones = .55em

Tamano_Titulo_seccion = 1em
Tamano_Titulo_imagen_publicaciones_eventos = .7em
Tamano_Texto_imagen_publicaciones_eventos = .5em

// responsive desing

Tamano_mensaje_banner_dos = 2.5em
Tamano_nuestra_filosofia_dos = 2.5em
Altura_Banner_dos = 300px
Altura_Nuestras_Variedades_dos =350px
Altura_Nuestras_Filosofia_dos = 300px
Tamano_nuestra_filosofia_texto_dos = 1em
Tamano_nuestra_filosofia_Botones_dos = .7em
Altura_publicaciones_eventos_dos = 450px
Tamano_Titulo_seccion_dos = 1.5em
Tamano_Titulo_imagen_publicaciones_eventos_dos = .9em
Tamano_Texto_imagen_publicaciones_eventos_dos = .65em


Altura_publicaciones_eventos_tres = 500px


// Alturas de las secciones de la version mobile

Altura_Banner = 250px
Altura_Nuestras_Variedades = 300px
Altura_Nuestras_Filosofia = 220px

Altura_Menu_Desplegable = 600px

Altura_publicaciones_eventos = 350px




// Anchuras de las secciones de la version mobile

Anchura_Menu_Desplegable = 250px
