// Tipografia usada en el proyecto actual

@font-face {
  font-family: Lenguaje;
  src: url(../Fuentes/FuturaLT.ttf);
}
@font-face {
  font-family: Banner;
  src: url(../Fuentes/IntroScriptR-H2Base.otf);
}

@font-face {
  font-family: Menu_desplegable;
  src: url(../Fuentes/FuturaLT-Bold.ttf);
}

@font-face {
  font-family: Menu_mobile;
  src: url(../Fuentes/FuturaLT-Book.ttf);
}

@font-face {
  font-family: Titulos_slides;
  src: url(../Fuentes/FuturaLT-LightOblique.ttf);
}

@font-face {
font-family: footer;
src: url(../Fuentes/FuturaLT-Heavy.ttf);
}
